<a href="https://colab.research.google.com/github/muhibuddin12/kuliah_LabML/blob/master/AssociationMLxtend.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#Data Transaksi

transaksi = [
             ['Roti','Selai','Mentega'],
             ['Mentega','Roti'],
             ['Roti','Susu','Mentega'],
             ['Coklat','Roti'],
             ['Coklat','Susu']
]

In [4]:
#Transaksi Encoder
from mlxtend.preprocessing import TransactionEncoder

te = TransactionEncoder()
te_array = te.fit(transaksi).transform(transaksi)
te_array

array([[False,  True,  True,  True, False],
       [False,  True,  True, False, False],
       [False,  True,  True, False,  True],
       [ True, False,  True, False, False],
       [ True, False, False, False,  True]])

In [9]:
import pandas as pd
df = pd.DataFrame(te_array,columns=te.columns_)
df

   Coklat  Mentega   Roti  Selai   Susu
0   False     True   True   True  False
1   False     True   True  False  False
2   False     True   True  False   True
3    True    False   True  False  False
4    True    False  False  False   True

In [10]:
#Algoritma Apriori
from mlxtend.frequent_patterns import apriori, association_rules

apriori(df, min_support=0.3)

   support itemsets
0      0.4      (0)
1      0.6      (1)
2      0.8      (2)
3      0.4      (4)
4      0.6   (1, 2)

In [0]:
#Algoritma Apriori
from mlxtend.frequent_patterns import apriori, association_rules

frekuensi_itemsets = apriori(df,min_support=0.3,use_colnames=True)

In [12]:
#Aturan asosiasi
aturan_asosiasi = association_rules(frekuensi_itemsets, min_threshold=0.5,metric="confidence")
aturan_asosiasi

  antecedents consequents  antecedent support  ...  lift  leverage  conviction
0      (Roti)   (Mentega)                 0.8  ...  1.25      0.12         1.6
1   (Mentega)      (Roti)                 0.6  ...  1.25      0.12         inf

[2 rows x 9 columns]

In [0]:
dataset = [
           ['Apple','Cola','Rice','Chicken'],
           ['Apple','Cola','Rice'],
           ['Apple','Cola'],
           ['Apple','Bananas'],
           ['Milk','Cola','Rice','Chicken'],
           ['Milk','Cola','Rice'],
           ['Milk','Cola'],
           ['Apple','Bananas']
]

In [14]:
te = TransactionEncoder()
te_array = te.fit(dataset).transform(dataset)
te_array

array([[ True, False,  True,  True, False,  True],
       [ True, False, False,  True, False,  True],
       [ True, False, False,  True, False, False],
       [ True,  True, False, False, False, False],
       [False, False,  True,  True,  True,  True],
       [False, False, False,  True,  True,  True],
       [False, False, False,  True,  True, False],
       [ True,  True, False, False, False, False]])

In [15]:
df = pd.DataFrame(te_array,columns=te.columns_)
df

   Apple  Bananas  Chicken   Cola   Milk   Rice
0   True    False     True   True  False   True
1   True    False    False   True  False   True
2   True    False    False   True  False  False
3   True     True    False  False  False  False
4  False    False     True   True   True   True
5  False    False    False   True   True   True
6  False    False    False   True   True  False
7   True     True    False  False  False  False

In [16]:
#Algoritma Apriori
from mlxtend.frequent_patterns import apriori, association_rules

apriori(df, min_support=0.3)

   support itemsets
0    0.625      (0)
1    0.750      (3)
2    0.375      (4)
3    0.500      (5)
4    0.375   (0, 3)
5    0.375   (3, 4)
6    0.500   (3, 5)

In [0]:
#Algoritma Apriori
from mlxtend.frequent_patterns import apriori, association_rules

frekuensi_itemsets = apriori(df,min_support=0.3,use_colnames=True)

In [19]:
#Aturan asosiasi
aturan_asosiasi = association_rules(frekuensi_itemsets, min_threshold=1,metric="confidence")
aturan_asosiasi

  antecedents consequents  antecedent support  ...      lift  leverage  conviction
0      (Milk)      (Cola)               0.375  ...  1.333333   0.09375         inf
1      (Rice)      (Cola)               0.500  ...  1.333333   0.12500         inf

[2 rows x 9 columns]